lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
files/*
server/ClientLogo/*
server/FixtureLogo/*
server/ProductImages/*

config/secretDatabase.js
config/secretAuth.js
cmd.exe
startMongoDB.bat

add
commit
pa
pull
push
server/files