lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

config/secretDatabase.js
config/secretAuth.js
cmd.exe
startMongoDB.bat

add
commit
pa
pull
push
fetch
bash
bash.lnk

server/users/*
redis-server.exe
run
run.bat
server/tempFiles/*