<div class="heroes">Герои :</div>

<div>Герои — ключевой элемент Dota 2, ведь от их действий зависит исход игры. Перед началом очередного сражения игрок выбирает одного из множества доступных героев, которым и будет управлять. Герои различаются по стилю игры, зависящему от сочетания их способностей и характеристик. В течение игры герои получают опыт. Как только герой набирает достаточное количество опыта, он переходит на новый уровень, что поднимает его характеристики и даёт возможность обучиться новому навыку или улучшить уже существующий. У героев есть определенная роль, которую они выполняют в ходе игры, но у большинства, ролей может быть несколько, и тот же герой может действовать по-разному в разных играх. В настоящее время через основной клиент для игры доступны 110 героев из 112.</div>

<div class="tup">Герои делятся на три типа :</div>
<div>1.Сила (Strength)</div>
<div>2.Ловкость (Agility)</div>
<div>3.Интелект (Intelligence)</div>

<div class="fotka">
<img src="public/img/vsegeroi.png">
</div>

<div class="streig">1.Cила (Strength) :</div>
<div>Герои силы — могучие воины, которые способны выстоять против сильнейших атак врагов. За счет большого количества очков силы у этих героев большой запас здоровья и высокая скорость регенерации, что в сумме позволяет им дольше оставаться на поле боя. Герои силы могут успешно выполнять многие роли: например, инициатора или танка.
</div>

<div class="agil">2.Ловкость (Agility) :</div>
<div>Герои ловкости — проворны и молниеносны, они мастера открытого боя и могут наносить немалый урон. У этих героев высокая скорость атаки и броня, поэтому в бою они чаще используют основную атаку и повышающие урон предметы, но при необходимости могут всегда воспользоваться и способностями. Герои с высокой ловкостью чаще всего керри и ганкеры.
</div>

<div class="int">3.Интелект (Intelligence) :</div>
<div>Герои интеллекта — мастера заклинаний. Запас маны и ее регенерация у них гораздо выше, чем у остальных, поэтому они чаще полагаются на свои способности, чтобы помогать союзникам и уничтожать врагов. Герои интеллекта обычно исполняют роли игрока поддержки, ганкера или пушера.
</div>


<div>
	<div>
		<span>Hero Name:</span>
		<span><input ng-model="heroName"></span>
	</div>
	<div>
		<span>Hero Type of attack:</span>
		<span><input ng-model="heroTypeofattack"></span>
	</div>
	<div>
		<span>Hero Role:</span>
		<span><input ng-model="heroRole"></span>
	</div>
	<span>Hero Attributes:</span>
		<span><input ng-model="heroAttributes"></span>
	</div>
	</div>
	<span>Hero Abilities:</span>
		<span><input ng-model="heroAbilities"></span>
	</div>
	<div>
	<span>Hero Bio:</span>
		<span><input ng-model="heroBio"></span>
	</div>

	
</div>


	<div ng-click="saveHero()">Save</div>

<table>
    <thead>
        <td>Имя</td>
        <td>Тип атаки</td>
        <td>Роль</td>
		<td>Атрибуты</td>
		<td>Способности героя</td>       
	    <td>Биография</td>
	 </thead>
        
    <tbody>
        <tr ng-repeat="hero in Heroes">
            <td>{{hero.heroName}}</td>
            <td>{{hero.heroTypeofattack}}</td>    
            <td>{{hero.heroRole}}</td>
            <td>{{hero.heroAttributes}}</td>
            <td>{{hero.heroAbilities}}</td>
            <td>{{hero.heroBio}}</td>         
        </tr>
    </tbody>
</table>